/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 16.6%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */
#Cyber {background-color:crimson;}
#Support {background-color:orangered;}
#Connect {background-color:gold;}
#Pup {background-color:springgreen;}
#Donate {background-color:turquoise;}
#Log {background-color:darkmagenta;}

h1 {
  margin-left: 1.5in;
font-size: 80px;
}
body{
  font-family: "Dotum", Arial;
}
